{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'create_listing' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_div }}
        </div>
        <input class="btn btn-primary" type="submit" value="Create Listing">
    </form>
{% endblock %}