{% extends "auctions/layout.html" %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h2>Listing: {{ listing.title }}</h2>
    
    {% if user.username == users %}
        <form action="{% url 'listing' listing.title %}" method="POST">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Close Listing" name="close">
        </form>
    {% endif %}


    <div class="listing">
        <div class="listing_img">
            <img src="{{ listing.image }}" alt="Listing image">
        </div>
        <div class="listing_body">

            <div class="desc-category">
                <p>{{ listing.description }}</p>
                <p class="category">Category: {{ listing.category }}</p>
            </div>

            <h4>Price: ${{ listing.price }}</h4>
            
            {% if watchlist_data.watchlist == True %}
                <form action="{% url 'listing' listing.title %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="Remove from watchlist" name="watchlist">
                </form>
            {% else %}
                <form action="{% url 'listing' listing.title %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="Add to watchlist" name="watchlist">
                </form>
            {% endif %}
        </div>
    </div>

    <div class="max_bid">
        <p>Highest bid: ${{ max_bid }}</p>
    </div>

    <form action="#" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Place Bid">
    </form>

    <div>
        <h5>Details</h5>
        <ul>
            <li><p>Listed by: <a href="#">{{ listing.user }}</a></p></li>
            <li><p>Created: {{ listing.date_time }}</p></li>
        </ul>
    </div>

    <form action="{% url 'listing' listing.title %}" method="POST">
        {% csrf_token %}
        {{ commentform }}
        <input type="submit" value="Comment">
    </form>

    <h6>Comments</h6>
    <div>
        {% for comment in comments %}
        <div class="user-time-wrap">
            <div class="user-time">
                <p>{{ comment.user_commented }}</p>
                <p>{{ comment.date_time }}</p>
            </div>
        </div>
        <p>{{ comment.comment }}</p>
        <hr>
        {% endfor %}
    </div>

{% endblock %}